<form class="form form-horizontal">
  <div class="form-group">
    <label class="col-md-3 control-label">Subject</label>
    <div class="col-md-6">
      <input type="text" class="form-control" value="แบบสอบถามร้านอาหารญี่ปุ่น" ng-model="project.subject" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Cover Image</label>
    <div class="col-md-6">
      <input type="file" class="form-control" value="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <button type="submit" class="btn btn-primary">Save change</button>
    </div>
  </div>
</form>
<h4>Question list</h4>
<style>
.question-group{
  border:1px solid #ddd;
  padding:20px;
  margin-bottom:20px;
}
</style>
<div class="question-group form form-horizontal" ng-repeat="question in project.questionList">
  <div class="form-group">
    <label class="col-md-3 control-label">Answer Type</label>
    <div class="col-md-4">
      <select class="form-control" ng-model="question.choiceType">
        <option value="single_text">Text single choice</option>
        <option value="single_image">Image single choice</option>
        <option value="multiple_text">Text multiple choice</option>
        <option value="multiple_image">Image multiple choice</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-3 control-label">Question {{$index + 1}}</label>
    <div class="col-md-6">
      <input type="text" class="form-control" ng-model="question.question">
    </div>
  </div>
  <div class="form-group">
    <h4 class="col-md-3 control-label">Answer list</h4>
  </div>
  <div class="form-group" ng-repeat="answer in question.answerList">
    <label for="" class="col-md-3 control-label">Answer {{$index + 1}}</label>
    <div class="col-md-6">
      <input type="text" class="form-control" ng-model="answer.answer" />
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" ng-click="removeAnswer(question, answer)"><i class="fa fa-times"></i> Remove</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <button type="button" class="btn btn-success" ng-click="addAnswer(question)"><i class="fa fa-plus"></i> Add more answer</button>
      <button type="button" class="btn btn-danger" ng-click="removeQuestion(question)"><i class="fa fa-minus"></i> Remove question</button>
    </div>
  </div>
</div>
<div class="text-center">
  <button type="button" class="btn btn-success" ng-click="addQuestion()"><i class="fa fa-plus"></i> Add more question</button>
</div>