<div class="form form-horizontal">
  <div class="form-group">
    <label for="" class="col-md-3 control-label">Created on</label>
    <div class="col-md-6">
      <p class="form-control-static">
        20/11/2017
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-3 control-label">Questions</label>
    <div class="col-md-6">
      <p class="form-control-static">
        4
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-md-3 control-label">Total Responses</label>
    <div class="col-md-6">
      <p class="form-control-static">
        56
      </p>
    </div>
  </div>
</div>
<h4>Responses Volume</h4>
<canvas id="myChart2" width="60%" height="20%"></canvas>