<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Category Information</h4>
  </div>
  <div class="panel-body form-horizontal">
    <div class="form-group">
      <label class="col-md-3 control-label">Category Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" ng-model="category_name" />
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="col-md-offset-3">
      <button type="button" class="btn btn-primary" ng-click="submit_form()">Save</button>
      <a class="btn btn-warning" ui-sref="category">Cancel</a>
    </div>
  </div>
</div>