<main>
  <div class="login-block">
    <img src="assets/img/logo.png" alt="">
    <h1>ลืมรหัสผ่าน</h1>
    <form action="#">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="ti-email"></i></span>
          <input type="text" class="form-control" placeholder="อีเมล">
        </div>
      </div>
      <button class="btn btn-main btn-block" type="submit">ขออีเมลเปลี่ยนรหัสผ่าน</button>
    </form>
  </div>
  <div class="login-links">
    <p class="text-center"><a ui-sref="appSimple.login">กลับเข้าหน้าเข้าสู่ระบบ</a></p>
  </div>
</main>