<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg)">
<div class="container no-shadow">
  <h1 class="text-center">แบบสอบถามของฉัน</h1>
  <p class="lead text-center">รายการแบบสอบถามของคุณ คุณสามารถแก้ไข ลบ หรือเพิ่มแบบสอบถามใหม่ได้ที่หน้านี้</p>
</div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row item-blocks-condensed">

        <div class="col-xs-12 text-right">
          <br>
          <button class="btn btn-primary btn-sm" ng-click="open_new_project()">เพิ่มแบบสอบถามใหม่</button>
        </div>

        <!-- Company item -->
        <div class="col-xs-12">
          <div class="item-block">
            <header>
              <a ui-sref="app.projectdetail.overview({projectId:1})"><img src="assets/img/avatar.png" alt=""></a>
              <div class="hgroup">
                <h4><a ui-sref="app.projectdetail.overview({projectId:1})">แบบสอบถามร้านอาหารญี่ปุ่น</a></h4>
                <h5><strong>คนตอบ</strong> 46/100 <strong>สิ้นสุดวันที่</strong> 2017-12-31</span> <a ui-sref="app.projectdetail.overview({projectId:1})"><span class="label label-success">OPEN</span></a></h5>
              </div>
              <div class="header-meta">
                <span class="rate" style="font-size:50px;">20 P</span>
              </div>
            </header>
            <footer>
              <div class="action-btn">
                <a class="btn btn-xs btn-default" ui-sref="app.projectdetail.overview({projectId:1})">Edit</a>
                <a class="btn btn-xs btn-danger" ui-sref="app.projectdetail.overview({projectId:1})">Delete</a>
              </div>
            </footer>
          </div>
        </div>
        <!-- END Company item -->
      </div>
    </div>
  </section>
</main>