<!-- Navigation bar -->
<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="pull-left">
      <div class="logo-wrapper">
        <a class="logo" ui-sref="app.projectlist"><img src="assets/img/logo.png" alt="logo"></a>
      </div>

    </div>
    <!-- END Logo -->

    <!-- User account -->
    <div class="pull-right">

      <div class="dropdown user-account">
        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
          <img src="assets/img/avatar.png" alt="avatar">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a ui-sref="appSimple.login">ข้อมูลส่วนตัว</a></li>
          <li><a ui-sref="appSimple.login">แพคเกจ</a></li>
          <li><a ui-sref="appSimple.login">ประวัติการชำระเงิน</a></li>
          <li><a ui-sref="appSimple.login">ออกจากระบบ</a></li>
        </ul>
      </div>

    </div>
    <!-- END User account -->
  </div>
</nav>
<!-- END Navigation bar -->